chex
distrax
einops
envpool
flatdict
flax
gymnasium
numpy
optax
orbax_checkpoint
pettingzoo

tensorboard
tensorboardX

git+https://github.com/Raffaelbdl/vectorization_parallel_env
"shaberax[all] @ git+https://github.com/Raffaelbdl/shaberax.git"